.letter{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 1px black solid;
}
.keyrow{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.letters{
    display: flex;
    flex-direction: column;
    gap: 10px;
}