.Navbar{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px var(--textcolor) solid;
    background-color: var(--background);
    h2{
        font-size: 25px;
        margin: 0;
    }
    .navicon{
        font-size: 25px;
        cursor: pointer;
        color: var(--textcolor);
    }
    .navtitle{
        color: var(--textcolor);
    }
    .right{
        display: flex;
        gap: 30px;
        margin-right: 20px;
    }
    .left{
        margin-left: 10px;
    }
    .howto{
        text-align: start;
    }
}
.settings{
    border-bottom: 1px solid black;
    font-size: 18px;
    padding: 10px;
    width: 100%;
    text-align: start;
}
.settings-switch{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.settings-choose{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.diff{
    display: flex;
    justify-content: space-between;
}

