.Wordle{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: var(--background);
    color: var(--textcolor);
    min-height: 100vh;
    font-family: "Merriweather";
    .inputcode{
        gap: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
    }
    .code{
        width: 80%;
        gap: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
    }
    .cell{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 65px;
        height: 65px;
        font-size: 40px;
        background: var(--background);
        border: var(--wordleborder);
    }
    .results{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .code-wrapper{
        gap: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .buttonss{
        display: flex;
        position: absolute;
        align-items: center;
        top: 100px;
        right: 20px;
        gap: 10px;
    }
    .title{
        margin-top: 80px;
        margin-bottom: 60px;
        font-size: 50px;
    }
    @media only screen and (max-width: 768px) {
        .cell{
            width: 40px;
            height: 40px;
            font-size: 30px;
        }
        .code{
            display: block;
        }
    }
}


