:root {
  --background: #ffff;
  --textcolor: #000;
  --cellshade: 7px 7px 16px #969696, -7px -7px 16px #ffffff;
  --codleborder: none;
  --wordleborder: 3px #000 solid
}
.App {
  text-align: center;
  margin: 100px;
  background-color: var(--background);
  color: var(--textcolor);
}
[data-theme="dark"]{
  --background: #202020;
  --textcolor: #fff;
  --cellshade:  none;
  --codleborder: 1px #fff solid; 
  --wordleborder: 3px #fff solid
}
a{
  text-decoration: none;
  color: unset;
}

